@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@1000&family=Questrial&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap');

@font-face {
  font-family: cotta;
  src: url("/fonts/cotta-free.otf");
}

* {
  font-family: 'Questrial', sans-serif;
}

@-webkit-keyframes typing {
  from {
    width: 0;
  }
}

@-webkit-keyframes blink-caret {
  50% {
    border-color: transparent;
  }
}

li {
  list-style-type: none;
  margin:10px;
}


@font-face {
  font-family: Bebas;
  src: url('../fonts/BebasKai-Regular.otf');
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  color: #FAF8F5;
  background-color: #000000;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  font-weight: 700;
}

.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0px 0px;
  position: absolute;
}

a {
  text-decoration: none;
  color: #FAF8F5;
}

/*The whole body*/

.wrapper {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-perspective: 300px;
  perspective: 300px;
  position: relative;
  background: #96120b;
}


.btn {
  border: 3px solid #FAF8F5;
  border-radius: 2rem;
  padding: 0.25rem 0.75rem;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.btn:hover {
  color: #806DBF;
  background: #FAF8F5;
}


.hero-text {
  background-size: cover;
  -webkit-transform: translateZ(0) scale(1);
  transform: translateZ(0) scale(1);
  z-index: 7;
}

.hero-text ul {
  font-size: 1rem;
  position: absolute;
  right: 2.5rem;
  top: 2.5rem;
}

.hero-text ul li {
  margin-left: 2.25rem;
  list-style-type: none;
  float: left;
  visibility: hidden;
}

.hero-text ul li:nth-of-type(1) {
  visibility: visible;
}

.hero-text ul li:nth-of-type(2) {
  visibility: visible;
}

.intro-container {
  /* background-color: black; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  height: 100%;

}

#welcome-main {
  color: #a35d17;
  background-image: -webkit-linear-gradient(0deg, #c86909 44%, #892624 93%);
  background-clip: text;
  -webkit-background-clip: text;
  text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  font-size: 5rem;
  font-weight: 800;
  font-family: 'Poppins', sans-serif;
  /* font-family: 'Times New Roman', Times, serif; */
}

.intro-container h5 {
  font-size: 1.25rem;
  color: #3d0000;
}


.parallax__group {
  position: relative;
  min-height: 100vh;
  width: 100vw;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.parallax__layer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.l1 {
  background: url('../assets/LOne.png') no-repeat center;
  background-size: cover;
  -webkit-transform: translateZ(-600px) scale(3);
  transform: translateZ(-600px) scale(3);
  z-index: 1;
}

.l2 {
  background: url('../assets/LTwo.png') no-repeat center;
  background-size: cover;
  -webkit-transform: translateZ(-525px) scale(2.75);
  transform: translateZ(-525px) scale(2.75);
  z-index: 2;
}

.l3 {
  background: url('../assets/LThree.png') no-repeat center;
  background-size: cover;
  -webkit-transform: translateZ(-400px) scale(2.33333333);
  transform: translateZ(-400px) scale(2.33333333);
  z-index: 3;
}

.l4 {
  background: url('../assets/LFour.png') no-repeat center;
  background-size: cover;
  -webkit-transform: translateZ(-250px) scale(1.833333333);
  transform: translateZ(-250px) scale(1.833333333);
  z-index: 4;
}

.l5 {
  background: url('../assets/LFive.png') no-repeat center;
  background-size: cover;
  -webkit-transform: translateZ(-125px) scale(1.4167);
  transform: translateZ(-125px) scale(1.4167);
  z-index: 5;
}

.l6 {
  background: url('../assets/LSix.png') no-repeat center;
  background-size: cover;
  -webkit-transform: translateZ(0) scale(1);
  transform: translateZ(0) scale(1);
  z-index: 6;
}


.info-container {
  background: #95130A;
  -webkit-transform: translateZ(0) scale(1);
  transform: translateZ(0) scale(1);
  z-index: 8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.info-container img {
  width: 75%;
  margin-bottom: 2.5rem;
}

.info-container h2,
.info-container p {
  margin-bottom: 1rem;
}


#subtitle {
  font-size: 1.25rem;
  position: absolute;
  left: 2.5rem;
  top: 2.3rem;
}

#parkStatus {
  color: #96120b;
}


.links ul {
  font-size: 0.75rem;
  position: absolute;
  right: 2.5rem;
  top: 2.49rem;
}

.links ul li {
  margin-left: 2.25rem;
  list-style-type: none;
  float: left;
  visibility: hidden;
}

.links ul li:nth-of-type(1) {
  visibility: visible;
}

.links ul li:nth-of-type(2) {
  visibility: visible;
}

.text-container p:nth-of-type(1) {
  font-weight: 400;
  font-size: 0.5rem;
  margin: 1rem 2.5rem;
}

.text-container p:nth-of-type(1) {
  font-size: 0.86rem;
}

.text-container p:nth-of-type(2) {
  font-size: 0.6rem;
  margin-bottom: 3rem;
}

@media (min-width: 760px) {
  .hero-text ul li {
    visibility: visible;
  }

  .infoo-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 3rem 1fr;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 3rem;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: left;
  }

  .info-container img {
    -ms-grid-column-align: end;
    justify-self: end;
    width: 75%;
  }

  .text-container p:nth-of-type(1) {
    font-size: 1rem;
    width: 75%;
    margin: 1rem 0;
  }
}


@media (min-width: 1126px) {

  .sky,
  .bushes,
  .water,
  .people1,
  .people2,
  .people3,
  .hero-text {
    background-size: contain;
  }
}

/* Scrollbar*/

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  /*background: #C1B7E1;*/
  background: #95130A;
}

::-webkit-scrollbar-thumb:hover {
  /*background: #9187b1; */
  background: #3d0000;
}

::-webkit-scrollbar-track {
  /*background: #0D0714;*/
  background: #FFE1DD;

}

/*Icons - social media*/

.social-container {
  position: absolute;
  right: 2.5rem;
  top: 43rem;
}

.social-container i {
  font-size: 1.5rem;
  margin-right: 1.5rem;
}


.social-icons {
  position: absolute;
  bottom: 0;
  translate: 10px -20px;
}

i {
  margin-right: 10px;
}


.link1 {
  z-index: 1000;
}

.textbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-negative: 1;
  flex-shrink: 1;
  -ms-flex-preferred-size: 400px;
  flex-basis: 400px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.info-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* place-items: flex-start; */
  /* place-content: center; */
}

.cards {
  margin: 4rem 0px;
  width: 100%;
  display: -ms-grid;
  display: grid;
  gap: 20px;
  -ms-grid-columns: 2fr 3fr;
  grid-template-columns: 2fr 3fr;
  place-items: center;
  /* position: absolute; */
}



@media screen and (min-width:700px) {
  .social-icons {
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
  }
}


@media screen and (max-width:900px) {
  .cards {
    grid-template-columns: 1fr;
    /* margin: 3rem 0rem; */
  }

  .cards > div > img {
    width:400px;
  }

}

@media screen and (max-width:1200px) {
  .intro-container {
      grid-template-columns: 1fr;
    }
}