@font-face {
    font-family: cotta;
    src: url("/fonts/cotta-free.otf");
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap');

* {
    font-family: 'Cotta',cotta,'Times New Roman', Times, serif;
    box-sizing: border-box;
}

body {
    margin:0;
    background-color: black;
}

li {
    list-style-type: none;
    margin: 10px;
}

.nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 10;
    background-color: transparent;
    padding: 10px;
}

.rightNav {
    display: flex;
    align-items: center;
}

.rightNav > * {
    color:white;
    margin:0px 20px;
}

.carousel {
    width: 100%;
    min-height: 100vh;
    background: url('../assets/bg002.svg');
    background-repeat: no-repeat;
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    place-content: center;
    place-items: center;
    margin: 0;
}

.carousel>h2 {
    font-size: 4rem;
    color: white;
    margin-bottom: none;
}

.controller {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 400px;
    margin: 10px;
    /* position: absolute; */
    transform: translateY(40px);
    z-index: 10;
}

.controller > button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

i {
    color: white;
    z-index: 200;
    cursor: pointer;
}

.glide {
    width: 80%;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-radius: 5px;
    transform:translateY(-30px);
}


.card {
    width: 100%;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    place-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-transition: -webkit-transform 0.5s ease-in-out;
    transition: -webkit-transform 0.5s ease-in-out;
    -o-transition: transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}

.card>img {
    height: 300px;
    width: 100%;
    -o-object-fit: contain;
    object-fit: contain;
}

.card>h3 {
    font-size: 2rem;
    color: white;
    text-align: center;
}

.card>div {
    text-align: center;
    color: white;
    /* background-color: black; */
    width: 70%;
    margin: 20px;

}


#left-btn {
    -webkit-animation: leftbtn 1s alternate infinite;
    animation: leftbtn 1s alternate infinite;
}

#right-btn {
    left: 87%;
    -webkit-animation: rightbtn 1s alternate infinite;
    animation: rightbtn 1s alternate infinite;
}

.shopping-list {
    width: 100%;
    max-height: 100vh;
    background:url('../assets/bg003.svg');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    /* transform: translateY(-25px); */
    display: flex;
    flex-direction: column;
    /* place-content: center; */
    place-items: center;
    padding-bottom: 5%;
}

.shopping-list > h1 {
    color:white;
    font-family: 'Poppins', sans-serif;
    font-size: 3rem;
}

.container {
    width:80%;
    /* background-color: red; */
    padding:20px 0px;
}

.container > .item {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
    place-items: center;
    margin: 20px;
}

.item > h3, p {
    color:white;
}

.submit {
    margin: 20px 0px;
    color: white;
    background-color: black;
    border: 1px solid white;
    padding: 10px 25px;
    border-radius: 50px;
    cursor: pointer;
    transition:background-color 0.2s;
}

.submit:hover {
    background-color: #6600FF;
}

@media screen and (max-width:800px) {
    .controller {
        width:250px;
    }

    .card > img {
        height:150px;
    }

    #logo {
        width: 30px;
        height: 30px;
    }
}

@-webkit-keyframes leftbtn {
    from {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }

    to {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
}

@keyframes leftbtn {
    from {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }

    to {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
}

@-webkit-keyframes rightbtn {
    from {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }

    to {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }
}

@keyframes rightbtn {
    from {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }

    to {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }
}